extends layout

block content
    h1= title
    table
        tr
            th Name
            th Description
            th set
            th Reps/Time
        each exercise in workoutprogram.exercises
            tr 
                td #{exercise.name}
                td #{exercise.description}
                td #{exercise.numbersets}
                td #{exercise.timerep}
    form(method="post" action="//localhost:8080/workouts/createExercise/" + workoutprogram.name)
        input(
            type="text"
            name="name"
            id="exercisename"
        )
        input(
            type="text"
            name="Description"
            id="exercisedescrip"
        )
        input(
            type="text"
            name="Numbersets"
            id="exercisenumset"
        )
        input(
            type="text"
            name="timereps"
            id="exercisetimerep"
        )
        input(
            type="submit"
            value="Create exercise"
            id="createexercisebtn"
        )
    form(method="get" action="//localhost:8080/workouts/workoutlist/")
        input(
            type="submit"
            value="Return"
            id="returnbtn"
        )
            